/* Some reset styles */
html {
  height: 100%;
}
body {
  min-height: 100%;
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  letter-spacing: 0.5px;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}
html {
  box-sizing: border-box;
}
header {
  padding: 5% 0;
  width: 100%;
}
@media screen and (orientation: portrait) {
  header {
    padding: 15% 0;
  }
}
/* Body background */
body {
  background: linear-gradient(#002650, #3b58a7);
  background: -webkit-linear-gradient(#002650, #3b58a7);
  background: -moz-linear-gradient(#002650, #3b58a7);
  background-attachment: fixed;
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
  display: inherit;
}
object,
embed {
  max-width: 100%;
}
input {
  color: #fff;
}
::placeholder {
  color: #fff;
  opacity: 1 /* Firefox */;
}
:-ms-input-placeholder {
  color: #fff;
}
::-ms-input-placeholder {
  color: #fff;
}
/* Fonts */
@font-face {
  font-family: 'Roboto Bold', sans-serif;
  src: url '../fonts/Roboto-Bold.ttf';
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Regular', sans-serif;
  src: url '../fonts/Roboto-Regular.ttf';
  font-weight: 300;
  font-style: normal;
}
/*
 *  Gabriela's stylus styles.
 */
/* Search-box */
.input-wrapper {
  padding-left: 35px;
  position: relative;
  z-index: 2;
}
.input-wrapper:hover,
.input-wrapper:focus {
  background: rgba(255,255,255,0.2);
  outline: 3px solid #e5a242;
}
@media screen and (orientation: portrait) {
  .input-wrapper {
    padding: 5%;
    padding-left: 47px;
  }
}
#user-input {
  margin: 0px;
  padding: 2% 35px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  background: url("../images/search.svg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: left center;
  background-clip: border-box;
  background-size: 31px;
  width: 100%;
  font-size: 31px;
}
#user-input:hover {
  outline: none;
}
#user-input:focus {
  outline: 3px dotted #e5a242;
}
@media screen and (orientation: portrait) {
  #user-input {
    background-size: 44px;
    padding: 2% 47px;
    font-size: 47px;
  }
}
.dropdown {
  width: 65%;
  font-size: 31px;
  margin: 0 auto;
  left: 17.5%;
  right: 17.5%;
  position: relative;
  display: inline-block;
  background: #b3beca;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-bottom: 1px solid #b3beca;
}
@media screen and (orientation: portrait) {
  .dropdown {
    font-size: 47px;
    width: 80%;
    left: 10%;
    right: 10%;
  }
}
.dropdown-content {
  padding: 0;
  display: block;
  overflow: hidden;
  background: #b3beca;
  width: 100%;
  position: absolute;
  top: 99%;
  z-index: 1;
}
.dropdown-content div.list-element {
  padding: 2%;
}
.dropdown-content div.list-element:hover,
.dropdown-content div.list-element:focus {
  background: rgba(255,255,255,0.2);
}
.dropdown-content div.list-element a {
  color: #fff;
  text-decoration: none;
  background: transparent;
  width: 100%;
  display: inline-block;
}
.dropdown-content div.list-element a:hover {
  border: none;
}
.dropdown-content div.list-element a:focus {
  outline: 3px dotted #e5a242;
}
/* Enter log history */
#enter-log {
  width: 65%;
  font-size: 31px;
  margin: 3% auto;
  background: rgba(255,255,255,0.2);
}
@media screen and (orientation: portrait) {
  #enter-log {
    width: 100%;
    font-size: 47px;
    margin: 6% 0;
  }
}
#enter-log::after {
  clear: both;
  float: none;
}
#enter-log .log {
  width: 100%;
  display: inline-block;
}
#enter-log .log:first-child {
  margin-top: 2%;
}
#enter-log .log:last-child {
  margin-bottom: 2%;
}
#enter-log .log:hover {
  background: rgba(255,255,255,0.2);
}
#enter-log .log:hover .x-btn {
  background: #7b3b56;
}
#enter-log .log:hover .x-btn .red-close {
  display: block;
}
#enter-log .log::after {
  clear: both;
  float: none;
}
#enter-log .log div {
  float: left;
}
#enter-log .log .stamp-wrapper {
  width: 91.666%;
  padding: 1.45% 0;
}
#enter-log .log .stamp-wrapper .log-history {
  padding-left: 4%;
}
@media screen and (orientation: portrait) {
  #enter-log .log .stamp-wrapper .log-history {
    padding-left: 16%;
  }
}
#enter-log .log .stamp-wrapper .log-history,
#enter-log .log .stamp-wrapper .log-date {
  width: 50%;
  text-align: left;
}
#enter-log .log .stamp-wrapper .log-date {
  padding-top: 10px;
  font-size: 21px;
}
@media screen and (orientation: portrait) {
  #enter-log .log .stamp-wrapper .log-date {
    font-size: 27px;
    padding-top: 20px;
  }
}
#enter-log .log .x-btn {
  width: 8.333%;
  height: 0;
  padding-bottom: 8.33%;
  background: transparent;
  display: block;
  position: relative;
}
#enter-log .log .x-btn .red-close {
  width: 35%;
  height: 0;
  padding-bottom: 35%;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #7b3b56;
  text-align: center;
  line-height: 1em;
  position: absolute;
  top: 35%;
  left: 35%;
  display: none;
  cursor: pointer;
  font-size: 21px;
  line-height: 1.3em;
}
@media screen and (orientation: portrait) {
  #enter-log .log .x-btn .red-close {
    font-size: 27px;
    line-height: 1em;
  }
}
@media screen and (orientation: portarit) {
  #enter-log .log:first-child {
    margin-top: 6%;
  }
  #enter-log .log:last-child {
    margin-bottom: 6%;
  }
}
/* Global styles */
.hide {
  display: none;
}
.show {
  display: block;
}
.space {
  width: 1%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.clear::after {
  content: "";
  clear: both;
  display: table;
}
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
}
footer h4 {
  text-align: center;
}
